:root {
   --color-one: #000000;
   --color-two: #5928E5;
   --color-three: #FED9DA;
   --color-four: #FFFFFF;
}

*,
*:before,
*:after {
   box-sizing: border-box;
   -webkit-touch-callout: none;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   scroll-behavior: smooth;
}

body::-webkit-scrollbar {
   width: 5px;
   background-color: var(--color-four);
}

body::-webkit-scrollbar-thumb {
   background-color: var(--color-two);
   border-radius: 5px;
}

body {
   margin: 0;
}

/* -------- Wrappers -------- */

.wrapper__content {
   max-inline-size: 1336px;
   margin: 0 auto;
}

/* -------- (Wrappers) -------- */


/* -------- Header -------- */
.wrapper__content-navbar {
   background-color: var(--color-three);
}

.navbar {
   position: relative;
   top: 0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   block-size: 80px;
   max-inline-size: 1336px;
   margin: 0 auto;
   padding: 0 1rem;
   font-family: 'Exo';
}

.navbar__icons {
   display: flex;
   align-items: center;
}

.navbar__icon-hamburger {
   margin-right: 1rem;
   font-size: 0;
}

.navbar__logo {
   font-size: 0;
}

.navbar__menu {
   position: absolute;
   top: 0;
   left: -277px;
   max-width: 277px;
   width: 100%;
   height: 100vh;
   padding: 1.75rem 1.5rem;
   background-color: var(--color-four);
   font-size: 1.5rem;
   display: none;
}

.navbar__menu-logo,
.navbar__menu-item {
   margin-bottom: 3.5rem;
}

.navbar__menu-container {
   padding: 0;
}

.navbar__menu-item {
   list-style: none;
}

.navbar__menu-link {
   color: var(--color-one);
   text-decoration: none;
   opacity: .5;
   transition: 300ms;
}

.navbar__menu-link:hover {
   opacity: 1;
}

.navbar__btn {
   display: inline-block;
   padding: .75rem 1.5rem;
   background-color: var(--color-two);
   color: var(--color-four);
   text-decoration: none;
   font-family: 'Cantarell';
   font-weight: 700;
}

.navbar__btn span {
   display: none;
}

.navbar__overlay {
   display: none;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background-color: rgba(0, 0, 0, .5);
   opacity: 0;
   will-change: opacity;
}

/* -------- (Header) -------- */

/* -------- Hero -------- */
.wrapper__content-hero {
   background-color: var(--color-three);
}

.hero {
   /*display: none;*/
   max-inline-size: 1336px;
   margin: 0 auto;
}

.hero__me {
   padding: 0 1rem;
}

.hero__me-image {
   text-align: center;
   font-size: 0;
}

.hero__me-title {
   margin: 2.5rem 0;
   color: var(--color-two);
   font-size: 2rem;
   font-family: "Exo";
   font-weight: 700;
   text-align: center;
   text-transform: uppercase;
}

.hero__me-text {
   max-inline-size: 412px;
   margin: 0 auto 4rem auto;
   color: var(--color-one);
   font-family: 'Cantarell';
   font-size: 1.125rem;
   text-align: center;
}

.hero__skills {
   padding: 0 1rem 8rem;
   color: var(--color-one);
   font-family: 'Exo';
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.hero__skill {
   margin-bottom: 1.5rem;
   max-inline-size: 328px;
}

.hero__skill-text {
   margin: 1.5rem 0 0 0;
   font-size: 1.5rem;
   font-weight: 700;
}

/* -------- (Hero) -------- */


/* -------- Projects -------- */

.projects {
   max-width: 1336px;
   margin: 0 auto;
   padding: 2.5rem 1rem 0;
}

.projects__title {
   margin: 0 0 1.5rem 0;
   color: var(--color-two);
   font-family: 'Exo';
   font-size: 2rem;
   text-align: center;
}

.projects__navbar {
   block-size: 48px;
   max-inline-size: 354px;
   margin: 0 auto 4rem auto;
}

.project__navbar-container {
   display: flex;
   block-size: inherit;
   margin: 0;
   padding: 0;
}

.project__navbar-item {
   flex: 1;
   block-size: inherit;
   list-style: none;
   text-align: center;
}

.project__navbar-link {
   display: flex;
   justify-content: center;
   align-items: center;
   block-size: inherit;
   color: var(--color-two);
   font-family: 'Cantarell';
   font-weight: 700;
   text-decoration: none;
   transition: 350ms;
}

.project__navbar-link:hover {
   background-color: var(--color-three);
}

.project-niko {
   position: relative;
   display: flex;
   align-items: flex-end;
   max-inline-size: 328px;
   block-size: 770px;
   margin: 0 auto 6rem;
}

.project-niko__image {
   position: absolute;
   top: 0;
   right: 0;
   font-size: 0;
}

.project-niko__title {
   margin: 0;
   color: var(--color-two);
   font-family: 'Exo';
   font-size: 2rem;
   font-weight: 700;
   text-transform: uppercase;
}

.project-niko__description {
   max-inline-size: 312px;
   padding: 4rem 1.5rem;
   background-color: var(--color-three);
   box-shadow: 16px 16px 0 var(--color-two);
}

.project-niko__text {
   margin: 1rem 0;
   color: var(--color-one);
   font-family: 'Cantarell';
   font-size: 1.125rem;
   line-height: 27px;
}

.button__fill,
.button__outline {
   display: block;
   padding: 0.75rem 0;
   font-family: 'Cantarell';
   font-size: 1rem;
   text-decoration: none;
   text-align: center;
   font-weight: 700;
}

.button__outline {
   margin-bottom: 1rem;
   color: var(--color-two);
   border: 1px solid var(--color-two);
}

.button__fill {
   background-color: var(--color-two);
   color: var(--color-four);
}

.project-marvol {
   position: relative;
   display: flex;
   align-items: flex-end;
   max-inline-size: 328px;
   block-size: 697px;
   margin: 0 auto 6rem;
}

.project-marvol__image {
   position: absolute;
   top: 0;
   right: 0;
   font-size: 0;
}

.project-marvol__title {
   margin: 0;
   color: var(--color-four);
   font-family: 'Exo';
   font-size: 2rem;
   font-weight: 700;
   text-transform: uppercase;
}

.project-marvol__description {
   max-inline-size: 312px;
   padding: 4rem 1.5rem;
   background-color: var(--color-two);
   box-shadow: 16px 16px 0 var(--color-three);
}

.project-marvol__text {
   margin: 1rem 0;
   color: var(--color-four);
   font-family: 'Cantarell';
   font-size: 1.125rem;
   line-height: 27px;
}

.button-marvol__fill,
.button-marvol__outline {
   display: block;
   padding: 0.75rem 0;
   font-family: 'Cantarell';
   font-size: 1rem;
   text-decoration: none;
   text-align: center;
   font-weight: 700;
}

.button-marvol__outline {
   margin-bottom: 1rem;
   color: var(--color-three);
   border: 1px solid var(--color-three);
}

.button-marvol__fill {
   background-color: var(--color-three);
   color: var(--color-two);
}

.project-spotifu {
   position: relative;
   display: flex;
   align-items: flex-end;
   max-inline-size: 328px;
   block-size: 724px;
   margin: 0 auto 6rem;
}

.project-spotifu__image {
   position: absolute;
   top: 0;
   right: 0;
   font-size: 0;
}

.project-spotifu__title {
   margin: 0;
   color: var(--color-two);
   font-family: 'Exo';
   font-size: 2rem;
   font-weight: 700;
   text-transform: uppercase;
}

.project-spotifu__description {
   max-inline-size: 312px;
   padding: 4rem 1.5rem;
   background-color: var(--color-three);
   box-shadow: 16px 16px 0 var(--color-two);
}

.project-spotifu__text {
   margin: 1rem 0;
   color: var(--color-one);
   font-family: 'Cantarell';
   font-size: 1.125rem;
   line-height: 27px;
}


/* -------- (Projects) -------- */


/* -------- Media -------- */

@media screen and (min-width: 688Px) {
   /* Hero */
   .hero__skill {
      margin-right: 1.5rem;
   }
}

@media screen and (min-width: 736px) {
   /* Hero */
   .hero__me-text {
      margin-bottom: 6.5rem;
   }

   .hero__skills .hero__skill:nth-of-type(2) {
      margin-right: 0;
   }
}

@media screen and (min-width: 1260px) {
   /* Project */
   .projects__navbar {
      margin-bottom: 12.5rem;
   }

   .projects__title {
      font-size: 6.25rem;
   }

   .projects {
      padding-top: 5rem;
   }

   .project-niko__image {
      width: 350px;
   }

   .project-niko {
      max-inline-size: 648px;
      block-size: auto;
      margin: 0 auto 18.375rem;
   }

   .project-niko__image {
      top: -94px;
      left: -304px;
   }

   .project-niko__description {
      max-inline-size: inherit;
      padding: 4rem 1.5rem 4rem 4.375rem;
   }

   .button {
      display: flex;
      block-size: 48px;
   }

   .button__fill,
   .button__outline {
      padding: 0.75rem 1.5rem;
   }

   .button__outline {
      margin: 0 1rem 0 0;
   }

   .project-marvol__image {
      width: 350px;
   }

   .project-marvol {
      max-inline-size: 648px;
      block-size: auto;
      margin: 0 auto 18.375rem;
   }

   .project-marvol__image {
      top: -94px;
      right: -304px;
   }

   .project-marvol__description {
      max-inline-size: inherit;
      padding: 4rem 4.375rem 4rem 1.5rem;
   }

   .button-marvol {
      display: flex;
      block-size: 48px;
   }

   .button-marvol__fill,
   .button-marvol__outline {
      padding: 0.75rem 1.5rem;
   }

   .button-marvol__outline {
      margin: 0 1rem 0 0;
   }

   .project-spotifu__image {
      width: 350px;
   }

   .project-spotifu {
      max-inline-size: 648px;
      block-size: auto;
      margin: 0 auto 18.375rem;
   }

   .project-spotifu__image {
      top: -94px;
      left: -304px;
   }

   .project-spotifu__description {
      max-inline-size: inherit;
      padding: 4rem 1.5rem 4rem 4.375rem;
   }
}

@media screen and (min-width: 998px) {
   /* Hero */
   .hero__me-title {
      font-size: 6.25rem;
   }
}

@media screen and (min-width: 1024px) {
   /* Navbar */
   .navbar {
      height: 96px;
   }

   .navbar__icon-hamburger {
      display: none;
   }

   .navbar__menu-logo {
      display: none;
   }

   .navbar__menu {
      position: initial;
      left: initial;
      display: block;
      block-size: initial;
      inline-size: initial;
      padding: 0;
      max-inline-size: none;
      background-color: transparent;
      font-family: 'Cantarell';
      font-weight: 700;
      font-size: 1rem;
   }

   .navbar__menu-container {
      display: flex;
      margin: 0;
   }

   .navbar__menu-item {
      margin: 0 2.5rem 0 0;
   }

   .navbar__menu-container .navbar__menu-item:nth-of-type(4) {
      margin-right: 0;
   }

   .navbar__menu-link {
      color: var(--color-two);
      opacity: 1;
   }

   .navbar__btn span {
      display: inline;
   }

   /* Hero */
   .hero__me {
      padding-top: 2.313rem;
   }
}

@media screen and (min-width: 1064px) {
   /* Hero */
   .hero__skills {
      justify-content: space-between;
   }

   .hero__skill {
      margin-bottom: 0;
   }
}

@media screen and (min-width: 1352px) {
   /* Navbar */
   .navbar {
      padding: 0;
   }

   .hero__me {
      padding: 2.313rem 0 0 0;
   }

   .hero__skills {
      padding: 0 0 8rem 0;
   }

   .projects {
      padding: 5rem 0 0 0;
   }
}

/* -------- (Media) -------- */


/* -------- Animations -------- */
.enter-for-right {
   animation: enterForRight 750ms forwards;
}

@keyframes enterForRight {
   from {
      transform: translateX(0);
   }

   to {
      transform: translateX(277px);
   }
}

.exit-for-left {
   animation: exitForLeft 750ms forwards;
}

@keyframes exitForLeft {
   from {
      transform: translateX(277px);
   }

   to {
      transform: translateX(0);
   }
}

.fade-in {
   animation: fadeIn 350ms forwards;
}

@keyframes fadeIn {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

.fade-out {
   animation: fadeOut 350ms forwards;
}

@keyframes fadeOut {
   from {
      opacity: 1;
   }

   to {
      opacity: 0;
   }
}
